@import './tools.scss';

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;

    body {
        margin: 0;
        font-size: 1rem;
        font-family: 'Cuprum', sans-serif;

        .wrapper {
            background-color: darken($backgroundMain, 5%);
            padding-bottom: 3vh;
    //         display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 100vh;
            

            .lang-link-wrap {
                padding: 5px 40px;
                color: $colorSpecial;

                .lang-link {
                    color: $colorTitle;
                }

                .lang-link:hover {
                    color: #fff;
                }
            }
        }
    }
}
