@import './tools.scss';

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;

    body {
        margin: 0;
        font-size: 1rem;
        font-family: 'Cuprum', sans-serif;

        .wrapper {
            background-color: darken($backgroundMain, 5%);    

            .lang-link-wrap {
                padding: 5px 50px;
                color: $colorSpecial;           

                .lang-link {
                    color: $colorTitle;
                }

                .lang-link:hover {
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {
    html {
        body {
            .wrapper {
                .lang-link-wrap {
                    padding: 5px 20px;
                }
            }
        }
    }
}
