@import './tools.scss';

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: $backgroundMain;
    color: $colorTitle;
    box-shadow: -1px -2px 4px rgba(#000, .2), 
    inset 0 1px 1px rgba(#fff, .2);

    .header-primary-wrap {
        display: flex;

        .header-logo-wrap {
            width: 100px;
            min-width: 50px;
            display: flex;
            align-items: center;

            .header-logo {
                width: 100%;
            }
        }

        .header-title-wrap {
            .header-title-disc, .header-title {
                margin: 15px;
                font-size: 1.2rem;
            }

            .header-title {
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
    }

    .header-secondary-wrap {
        text-align: end;

        .header-date {
            font-size: 1.2rem;
            margin: 15px 0;
        }

        .header-day {
            font-size: 1.8rem;
            margin: 0;

            .header-day-span {
                color: $colorSpecial;
                font-weight: bold;
            }
        }
    }
}