.content-wrapper {
    .main-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .main-item {
            display: flex;
            justify-content: space-between;
            width: 32.5%;
            border: 1px solid #000;
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px 20px;

            .main-item-disc {
                margin-right: 10px;

                .main-item-disc-icon-wrap {
                    width: 60px;

                    .main-item-disc-icon {
                        width: 100%;
                    }
                }
            }

            .main-item-amount {
                display: flex;
                align-items: center;
                text-align: end;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}